.about(id=`${about.data.title.toLowerCase()}`)
  .about__wrapper
    each item in about.data.section
      article.about__article
        figure.about__article__media
          img.about__article__media__image(
            src=item.image.url,
            alt=item.image.alt
          )
        h2.about__article__title= item.label
        p.about__article__description= item.description
        a.about__article__link(
          class=`${item.link_color ==='Yellow' ? 'about__article__link__yellow' : 'about__article__link__red'}`,
          href='/'
        )= item.link_label
