#projects.projects
  .projects__wrapper Projects
    .projects__gallery
      each project in projects
        figure.projects__gallery__media
          img.projects__gallery__media__image(
            srcset=`${project.data.image.url} 720w , ${project.data.image.mobile.url} 376w`,
            sizes='(max-width: 750px) 376px, 720px',
            src=project.data.image.url,
            alt=project.data.image.alt
          )
