.services(id=services.data.title.toLowerCase())
  each item in services.data.service
    article.service__article__wrapper
      picture.service__article__media
        source(media='(max-width: 768px)', srcset=item.image.mobile.url)
        source(media='(min-width: 769px)', srcset=item.image.url)
        img.service__article__media__image(
          src=item.image.url,
          alt=item.image.alt
        )
      .service__article
        h2.service__article__title= item.label
        p.service__article__description= item.description
